<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--계약의 내용을 입력하는 공간 생성-->
    <form action="/contract/add" method="post">
        <!--계약서의 문서 번호를 등록하는 입력창-->
        <input type="number" name="_no"><br>
        <input type="text" name="_title"><br>
        <textarea name="_content" width="300px" height="300px">
        </textarea>
        <input type="submit" value="계약서 등록">
    </form>
    
</body>
</html>